.square-div {
    float : right;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 65px;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    background-color: cadetblue;
  }
  
  h1 {
    font-size: 30px;
    text-align: center;
  }

  .form-modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    }
    
    /* Define styles for the form container */
    .form-container {
    max-width: 700px;
    margin: auto;
    padding: 20px;
    border: 30px solid #ffcdcd;
    border-radius: 5px;
    background-color: darkgray;
    }
    
    /* Define styles for form input labels */
    label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    }
    
    /* Define styles for form input fields */
    input[type="text"],
    input[type="file"],
    textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    }
    
    /* Define styles for form submit button */
    button {
    background-color: darkcyan;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    }
    
    /* Define styles for form submit button on hover */
    button:hover {
    background-color: darkseagreen;
    }
    
    /* Define styles for error message */
    .error {
    color: red;
    margin-top: 5px;
    }
    .cancel{
        float: right;
    }
  
  
  
  
  